<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.IbMapper">
	<select id="getImageList" parameterType="hashmap"  
	        resultType="IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE,
		       GENDER, AGE,PRICE,JUSA, PIC
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>
	
	<insert id="imageInsert" parameterType="IbDTO">
		<![CDATA[
			INSERT INTO PET(PETID,CLASSIFY1,CLASSIFY2,DOGKORTYPE,DOGENGTYPE,GENDER,AGE,PRICE,JUSA,PIC) 
			values(SEQ_PETID.NEXTVAL,#{petid},#{classify1},#{classify2},#{dogkortype}, #{dogengtype}, #{gender},#{age}, #{price}, #{jusa}, #{pic});
		]]>
	</insert>
	
	<select id="getTotalArticle" resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM PET
		]]>
	</select>
	
	<select id="getImage" parameterType="java.lang.Integer" resultType="IbDTO">
		<![CDATA[
			SELECT * FROM PET WHERE PETID=#{petid}
		]]>
	</select>
	
</mapper>













